<?php

/*
 * This file is part of the rethinkdb-odm package.
 *
 * (c) Vincent Touzet <vincent.touzet@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

require_once __DIR__.'/../vendor/autoload.php';

define('RETHINKDB_HOST', 'localhost');
define('RETHINKDB_PORT', '28015');
define('RETHINKDB_USER', 'admin');
define('RETHINKDB_PASSWORD', '');
define('RETHINKDB_DB', 'database');
